body{
    background-color: green;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2{
    font-size: 24pt;
}

.container{
    width: 50vw;
    height: 40vh;
    top: 25%;
    left: 25%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
}

.container2{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 21vw;
    height: 10vh;
}

.btn{
    background-color: green;
    width: 5.5vh;
    height: 5vh;
    border-radius: 10px;
    border: none;
}

#btn-img{
    width: 20px;
    height: 20px;
}

#input{
    height: 4.2vh;
    width: 12vw;
    border-radius: 10px;
    text-align: center;
    line-height: 4.2vh;
    border: solid rgb(7, 7, 7) 2px;
    font-size: 10pt;
}

#link {
    margin-top: 4px;
    width: 20vw;
    height: 4vh;    
    border: solid rgb(7, 7, 7) 0px;
    border-radius: 10px;
    font-size: 10pt;
    line-height: 4.2vh;

}

#wimg{
    width: 30px;
}

#txt{
    color: white;
}
@media only screen and (max-width: 600px) {
    body{
        background-color: white;
    }

    #input{
        width: 22vw;
    }

    .container2{
        width: 40vw;
    }
    #link{
        margin-top: 4px;
        width: 40vw;

    }
}